.org {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  margin-top: 50px;
}

.orghead {
  margin-top: 0;
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}

.org-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.orgheading {
  margin: 0 70px;
  text-align: center;
}

.orgheading h3 {
  font-family: Readex pro, sans-serif;
  font-size: 45px;
  font-weight: 200;
  margin-top: 40px;
  color: #00a4d8;
}
.orgheading p {
  font-family: Readexpro, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #636363;
  margin-top: 10px;
}

.separator {
  width: 1px;
  height: 90px;
  background-color: rgb(233, 229, 229);
  margin: 0 10px;
  margin-top: 30px;
}
@media (min-width: 760px) and (max-width: 1024px) {
  .org {
    height: 200px;
  }
  .orghead {
    margin-top: 0;
    font-family: "Readex Pro", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
  }
  .orgheading h3 {
    font-size: 40px;
    margin-top: 6px;
  }
  .orgheading p {
    font-size: 9px;
  }
  .orgheading {
    margin: 0 60px;
  }
  .separator {
    margin-top: 20px;
  }
}
