* {
  padding: 0;
  margin: 0;
}

.quiz-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-heading-quiz p {
  color: #00a4d8;
  font-weight: 600;
  font-size: 12px;
}

.top-heading-quiz {
  background-color: #cff1fc;
  align-self: center;
  text-align: center;
  padding: 3px 0px;
  width: 130px;
  margin-top: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main-heading-quiz h2 {
  color: #545454;
  text-align: center;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 3px;
  margin-bottom: 20px;
}
.list-item-box {
  display: flex; /* Ensure icon and link text are in the same line */
  align-items: center; /* Center items vertically */
  margin-left: 5px; /* Add space between icon and link text */
}

.tick-icon {
  margin-right: 5px; /* Add space between icon and link text */
}

.main-heading-quiz span {
  color: #ff4955;
}

.heading-quiz {
  color: white;
  font-size: 12px;
  font-weight: 100;
  font-family: Inter, sans-serif;
  background: #00a4d8;
  overflow: hidden;
  padding: 10px 10px; /* Adjust padding as needed */
  border-top-left-radius: 10px; /* Add border radius */
  border-top-right-radius: 10px; /* Add border radius */
}

.heading-quiz2 {
  color: white;
  font-size: 12px;
  font-weight: 100;
  font-family: Inter, sans-serif;
  background: #ff4955;
  padding: 10px 10px; /* Adjust padding as needed */
  border-top-left-radius: 10px; /* Add border radius */
  border-top-right-radius: 10px; /* Add border radius */
  overflow: hidden; /* Prevent overflow */
}

.heading-quiz3 {
  color: white;
  font-size: 12px;
  font-weight: 100;
  font-family: Inter, sans-serif;
  background: #3ebe42;
  padding: 10px 10px; /* Adjust padding as needed */
  border-top-left-radius: 10px; /* Add border radius */
  border-top-right-radius: 10px; /* Add border radius */
  overflow: hidden; /* Prevent overflow */
}

.quiz-card-container {
  display: flex;
  justify-content: center;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 60vh;
  margin-right: 30px;
  border: 1px solid #eaeef2;
  border-radius: 20px;
}
.quiz-card:nth-child(3){
  margin-right:0;
}

.card-list-content {
  height: 55vh;
}
.card-list-content li{
  list-style: none;
}
.card-list-content a{
  text-decoration: none;
  color: #000000;
}

.quiz-view-btn {
  width: 90%;
  background: #5ecaec;
  margin-top: 10px; /* Adjust as needed */
  text-align: center;
  margin: 15px 14px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  border: 1px solid #00A4D8;
  cursor: pointer;
  color: white;
}
.quiz-view-btn2 {
  width: 90%;
  background: #fc7c85;
  margin-top: 10px; /* Adjust as needed */
  text-align: center;
  margin: 15px 14px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  border: 1px solid #ff4955;
  cursor: pointer;
  color: white;
}
.quiz-view-btn3 {
  width: 90%;
  background: #58ee5d;
  margin-top: 10px; /* Adjust as needed */
  text-align: center;
  margin: 15px 0px 15px 14px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  border: 1px solid#3EBE42;
  cursor: pointer;
  color: white;
}
.button-container {
  display: flex;

  margin-top: 20px;
}

.common-quiz-button,
.free-exam-trial-button {
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4955; /* Adjust colors as needed */
  color: #fff;
  cursor: pointer;
  margin-top: 45px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  padding: 10px 33px;
}
.common-quiz-button:hover {
  background-color: #e24f59; /* Darker color on hover */
}
.btncont{
  display:flex;
  justify-content: center;
  align-items: center;
}
.free-exam-trial-button {
  background-color: #00a4d8;
}
.free-exam-trial-button:hover {
  background-color: #1c91b5;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .main-heading-quiz h2 {
    font-size: 18px;
  }
  .heading-quiz,
  .heading-quiz2,
  .heading-quiz3 {
    font-size: 10px;
  }
  .quiz-card{
    width:30vw;
  }
  .quiz-card-container{
    margin: 0px 40px;
  }
  .quiz-view-btn,
  .quiz-view-btn2,
  .quiz-view-btn3 {
    width: 70%;
    font-size: 12px;
    margin-top: 10px; /* Adjust as needed */
    text-align: center;
    margin: 12px 23px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  .common-quiz-button,
  .free-exam-trial-button {
    margin-top: 35px;
    font-size: 11px;
    padding: 10px 23px;
  }
  .free-exam-trial-button {
    margin-top: 10px; /* Adjust margin-top to create a gap */
  }
  .common-quiz-button,
.free-exam-trial-button {
  /* margin: 0 10px; */
  border: none;
  border-radius: 5px;
  background-color: #ff4955; /* Adjust colors as needed */
  color: #fff;
  cursor: pointer;
  margin-top: 45px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  padding: 10px 33px;
  
}
.common-quiz-button:hover {
  background-color: #e24f59; /* Darker color on hover */
}

.free-exam-trial-button {
  background-color: #00a4d8;
}
.free-exam-trial-button:hover {
  background-color: #1c91b5;
}

}
