.exam-question-top-container{
    width:100vw;
    min-height: 100vh;
    background-color: #EBFAFF;
}

.exam-question-main-container{
    margin-top: 80px;
    margin-left: 22px;
    margin-right: 20px;
}


.exam-question-button-container{
    display: flex;
    justify-content: space-between;
}

.button-1{
    margin-right: 50px;
    width: 175px;
    height: 50px;
    background: rgba(0, 164, 216, 1);
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color:rgba(255, 255, 255, 1);
    border:0;
}

.button-2{
    margin-right: 50px;
    width: 190px;
    height: 50px;
    background: rgba(167, 205, 217, 1);
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color:rgba(255, 255, 255, 1);
    border:0;
}

.exam-question-heading{
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.exam-question-type-container{
    background: rgba(255, 255, 255, 1);
}

.exam-question-type-container p{
    padding: 8px;
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(84, 84, 84, 1);
}

.exam-question-paragraph{
    font-family: "Readex Pro";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(47, 48, 68, 1);
}

.exam-question-outline-para{
    font-family: "Readex Pro";
    font-size: 14.8px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.exam-question-ul-list li{
    list-style-type: disc;
    margin-left: 22px;
}

.button-3{
    margin-right: 50px;
    width: 242px;
    height: 50px;
    background: rgba(0, 164, 216, 1);
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color:rgba(255, 255, 255, 1);
    border:0;
}

.button-4{
    margin-right: 50px;
    width: 190px;
    height: 50px;
    background: rgba(167, 205, 217, 1);
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color:rgba(255, 255, 255, 1);
    border:0;
}

.button-5{
    width: 196px;
    height: 50px;
    border-radius: 5px;
    background: rgba(0, 164, 216, 1);
    color: #FFFFFF;
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
    border: 0;
}   

/* .col-lg-3 {
    flex: 0 0 auto;
    width: 30%;
} */

.col-xl-4 {
    flex: 0 0 auto;
    width: 29.333333%;
}

.exam-question-bottom-container{
    margin-top: 80px;
}

.exam-question-timer-container{
    background: rgba(62, 190, 66, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.exam-question-profile-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 1);
    padding: 20px;
}

.exam-question-timer{
    padding: 10px;
}

.exam-question-timer h1{
    font-family: "Readex Pro";
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    color: #FFFFFF;
}

.exam-question-timer p{
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    color: rgba(255, 255, 255, 0.84);
}

.exam-question-attempted-details{
    background: rgba(255, 255, 255, 1);
}

.exam-question-attempted-details h1{
    font-family: "Readex Pro";
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 10px;
}


.exam-question-attempted-details p{
    font-family: "Readex Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    color: rgba(84, 84, 84, 1);
    padding: 10px;
}

.exam-question-attempted-question-details-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.exam-question-attempted-question-details-container .cont-1{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(62, 190, 66, 1);
    margin: 10px;
    padding-left:15px;
}

.exam-question-attempted-question-details-container .cont-2{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(255, 73, 85, 1);
    margin: 10px;
    padding-left:15px;
}

.exam-question-attempted-question-details-container .cont-3{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(0, 164, 216, 1);
    margin: 10px;
    padding-left:15px;
}

.exam-question-attempted-question-details-container .cont-4{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(190, 188, 188, 1);
    margin: 10px;
    padding-left:15px;
}

.cont-1 p{
    text-align: center;
    background: rgba(190, 188, 188, 1);
}

.cont-2 p{
    text-align: center;
    background: rgba(190, 188, 188, 1);
}

.cont-3 p{
    text-align: center;
    background: rgba(190, 188, 188, 1);
}

.cont-4 p{
    text-align: center;
    background: rgba(190, 188, 188, 1);
}

.exam-question-bottom-1-container{
    background: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.exam-question-bottom-1-container h1{
    font-family: "Readex Pro";
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    padding: 12px;
}

.exam-question-result-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 180px; */
}

.result-1{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(62, 190, 66, 1);
    margin: 10px;
}

.result-2{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(255, 73, 85, 1);
    margin: 10px;
}

.result-3{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0, 164, 216, 1);
    margin: 10px;
}

.result-4{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(190, 188, 188, 1);
    margin: 10px;
}

.exam-question-button-one-container{
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.exam-question-button-one-container .button-one{
    background: rgba(173, 230, 248, 1);
    width: 189px;
    height: 51px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgba(25, 108, 135, 1);
    border: 0;
}

.exam-question-button-one-container .button-two{
    background: rgba(255, 73, 85, 1);
    width: 189px;
    height: 51px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #FFFFFF;
    border: 0;
}