.copyright-section {
  background-color: #020a11;
  color: white;
  height: 6vh;
}

.copyright-text {
  font-family: Inter, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.copyright-text a {
  color: white;
  margin: 0 10px;
}
.copyright-text a:hover {
  color: red;
}
