.header-flex-container{
    height:60px;
}

.student-result-heading{
    font-family: "Readex Pro";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-left: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.student-username{
    font-family: "Readex Pro";
    font-size: 13px;
    font-weight: 500;
    line-height: 13.75px;
    text-align: left;
    color: rgba(238, 240, 248, 1)!important;
}

.dropdown-menu.show {
    display: block;
    text-align: center;
    justify-content: center;
    background-color: red;
}

.dropdown-menu p{
   margin-bottom: 0;
}

.header-logout-button{
    text-align:center;
    font-family: "Readex Pro";
    font-size: 13px;
    font-weight: 500;
    line-height: 13.75px;
    color: "blue";
}