.sidebar-un-list{
    margin-left: 20px;
    background-color: aliceblue;
}

.sidebar-un-list li{
    color: white;
}

.ul-0{
    color: #FFFFFF;
    font-family: "Readex Pro";
    font-size: 17px;
    font-weight: 400;
    line-height: 21.25px;
    text-align: left;
    margin-left: 20px;
}

.ul-1{
    color: rgba(171, 187, 193, 1);
    font-family: "Readex Pro";
    font-size: 17px;
    font-weight: 400;
    line-height: 21.25px;
    text-align: left;
    margin-left: 20px;
}