/* banner.css */

.containerr {
  background-color: #ffe8e8;
  padding: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0px;
}

.icon-banner {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 40px;
}

.icon-banner img {
  width: 16px;
  height: 16px;
  padding-right: 7px;
}

/* .ico-banner span {
  margin-top: 1px;
  font-size: 1px;
  font-weight: 700;
  font-family: Inter, sans-serif;
  padding-left: 5px;
} */

/* Tablet Styles */
@media (max-width: 1024px) {
  .containerr {
    flex-wrap: wrap;
    padding: 11px 20px; /* Adjusted padding */
  }

  .icon-banner {
    margin-right: 20px; /* Adjusted margin for smaller screens */
  }

  .icon-banner span {
    font-size: 10px; /* Adjusted font size for smaller screens */
  }
  .icon-banner img {
    width: 12px;
    height: 12px;
    padding-right: 7px;
  }
}
